src/power automate flows/assessment query.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonlinebusiness": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "domm_sharedexcelonlinebusiness_9e8da"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer"
                },
                "email": {
                  "type": "string"
                },
                "subjects": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "year",
                "subjects"
              ]
            }
          }
        }
      },
      "actions": {
        "Apply_to_each_subject": {
          "type": "Foreach",
          "foreach": "@triggerBody()?['subjects']",
          "actions": {
            "HTTP_Query": {
              "type": "Http",
              "inputs": {
                "uri": "@concat('https://handbook.unimelb.edu.au/', triggerBody()?['year'], '/subjects/', toLower(items('Apply_to_each_subject')), '/assessment')\n",
                "method": "GET",
                "headers": {
                  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36",
                  "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\n",
                  "Accept-Language": "en-AU,en;q=0.9\n",
                  "Accept-Encoding": "identity"
                },
                "retryPolicy": {
                  "type": "fixed",
                  "count": 3,
                  "interval": "PT30S"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Load_Assessment_Data_to_Query_Table": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "groups/ad6c8e15-4773-48f0-a918-df5ce6b5a0ec",
                  "drive": "b!UBABUhGEKECFhDL41DjVeNoBj9p0MXRKpBFDkjb_i-Tbc9-E_4BBSZknj_ZFBwtq",
                  "file": "/Shared%20Documents/TEACHING%20SUPPORT/Handbook%20(Course%20&%20Subject%20Changes)/Auto%20Handbook%20System/Automated%20Handbook%20Data%20System.xlsm",
                  "table": "{DCF21599-2099-4EAF-9C92-978D83D6522B}",
                  "item/SubjectCode": "@toUpper(items('Apply_to_each_subject'))",
                  "item/URL": "@concat('https://handbook.unimelb.edu.au/', triggerBody()?['year'], '/subjects/', toLower(items('Apply_to_each_subject')), '/assessment')\n",
                  "item/AssessmentTableHTML": "@if(or(less(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'), 0), less(indexOf(outputs('HTTP_Query')['body'], '</table></div>'), 0), greaterOrEquals(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\"></div>'), 0)), '', substring(outputs('HTTP_Query')['body'], indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'), sub(add(indexOf(outputs('HTTP_Query')['body'], '</table></div>'), length('</table></div>')), indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'))))\n",
                  "item/HTMLLength": "@if(\n  greaterOrEquals(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\"></div>'), 0),\n  0,\n  if(\n    less(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'), 0),\n    0,\n    length(substring(\n      outputs('HTTP_Query')['body'],\n      indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'),\n      sub(\n        add(\n          indexOf(outputs('HTTP_Query')['body'], '</table></div>'),\n          length('</table></div>')\n        ),\n        indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">')\n      )\n    ))\n  )\n)\n",
                  "item/Status": "@if(\n  greaterOrEquals(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\"></div>'), 0),\n  'Failed',\n  if(\n    less(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'), 0),\n    'Failed',\n    if(equals(outputs('HTTP_Query')?['statusCode'], 200), 'Success', 'Failed')\n  )\n)\n",
                  "item/ErrorMessage": "@if(greaterOrEquals(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\"></div>'),0), 'Assessment table empty', if(less(indexOf(outputs('HTTP_Query')['body'], '<div class=\"assessment-table\">'), 0), 'Assessment table not found', if(equals(outputs('HTTP_Query')?['statusCode'],200), null, if(equals(outputs('HTTP_Query')?['statusCode'], 404), 'Not Found Error', if(equals(outputs('HTTP_Query')?['statusCode'], 400), 'Bad Request Error', if(equals(outputs('HTTP_Query')?['statusCode'], 401), 'Unauthorized Access Error', concat('Unknown Error: ', outputs('HTTP_Query')?['statusCode'])))))))\n",
                  "item/FetchTime": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "AddRowV2",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "runAfter": {
                "HTTP_Query": [
                  "Succeeded",
                  "Failed",
                  "Skipped"
                ]
              }
            }
          },
          "runAfter": {
            "Clear_table": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 3
            }
          }
        },
        "Clear_table": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "groups/ad6c8e15-4773-48f0-a918-df5ce6b5a0ec",
              "drive": "b!UBABUhGEKECFhDL41DjVeNoBj9p0MXRKpBFDkjb_i-Tbc9-E_4BBSZknj_ZFBwtq",
              "file": "/Shared%20Documents/TEACHING%20SUPPORT/Handbook%20(Course%20&%20Subject%20Changes)/Auto%20Handbook%20System/Automated%20Handbook%20Data%20System.xlsm",
              "scriptId": "ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01DB6PNRHMZNDNVO6MC5EKH7XHHDLSHVTJ",
              "ScriptParameters/tableName": "AllSubjectsHTML"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "operationId": "RunScriptProd",
              "connectionName": "shared_excelonlinebusiness"
            }
          },
          "runAfter": {}
        },
        "Update_status": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "groups/ad6c8e15-4773-48f0-a918-df5ce6b5a0ec",
              "drive": "b!UBABUhGEKECFhDL41DjVeNoBj9p0MXRKpBFDkjb_i-Tbc9-E_4BBSZknj_ZFBwtq",
              "file": "/Shared%20Documents/TEACHING%20SUPPORT/Handbook%20(Course%20&%20Subject%20Changes)/Auto%20Handbook%20System/Automated%20Handbook%20Data%20System.xlsm",
              "table": "{8E73F496-9638-4E27-8B69-D279D66C0D6D}",
              "idColumn": "Progress",
              "id": "Handbook Data",
              "item/Status": "Done"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "operationId": "PatchItem",
              "connectionName": "shared_excelonlinebusiness"
            }
          },
          "runAfter": {
            "Apply_to_each_subject": [
              "Succeeded",
              "Failed"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}